<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.partyRelationship.home.title">Party Relationships</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-party-relationship" [routerLink]="['/party-relationship/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.partyRelationship.home.createLabel">
            Create a new Party Relationship
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="partyRelationships?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.partyRelationship.home.notFound">No partyRelationships found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="partyRelationships && partyRelationships.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.partyRelationship.partyRelationshipType">Party Relationship Type</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.partyRelationship.fromDate">From Date</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.partyRelationship.thruDate">Thru Date</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.partyRelationship.name">Name</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.partyRelationship.description">Description</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.partyRelationship.priorityType">Priority Type</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.partyRelationship.fromPartyRole">From Party Role</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.partyRelationship.toPartyRole">To Party Role</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.partyRelationship.statusType">Status Type</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let partyRelationship of partyRelationships ;trackBy: trackId">
                    <td><a [routerLink]="['/party-relationship', partyRelationship.id, 'view']">{{ partyRelationship.id }}</a></td>
                    <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.PartyRelType.' + partyRelationship.partyRelationshipType }}">{{ partyRelationship.partyRelationshipType }}</td>
                    <td>{{ partyRelationship.fromDate | date:'mediumDate' }}</td>
                    <td>{{ partyRelationship.thruDate | date:'mediumDate' }}</td>
                    <td>{{ partyRelationship.name }}</td>
                    <td>{{ partyRelationship.description }}</td>
                    <td jhiTranslate="{{ 'jhipsterSampleApplicationApp.PriorityType.' + partyRelationship.priorityType }}">{{ partyRelationship.priorityType }}</td>
                    <td>
                        <div *ngIf="partyRelationship.fromPartyRole">
                            <a [routerLink]="['/party-role', partyRelationship.fromPartyRole?.id, 'view']" >{{ partyRelationship.fromPartyRole?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="partyRelationship.toPartyRole">
                            <a [routerLink]="['/party-role', partyRelationship.toPartyRole?.id, 'view']" >{{ partyRelationship.toPartyRole?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="partyRelationship.statusType">
                            <a [routerLink]="['/status-type', partyRelationship.statusType?.id, 'view']" >{{ partyRelationship.statusType?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/party-relationship', partyRelationship.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/party-relationship', partyRelationship.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(partyRelationship)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
