<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="partyFacility">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.partyFacility.detail.title">Party Facility</span> {{ partyFacility.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.partyFacility.party">Party</span></dt>
                <dd>
                    <div *ngIf="partyFacility.party">
                        <a [routerLink]="['/party', partyFacility.party?.id, 'view']">{{ partyFacility.party?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.partyFacility.facility">Facility</span></dt>
                <dd>
                    <div *ngIf="partyFacility.facility">
                        <a [routerLink]="['/facility', partyFacility.facility?.id, 'view']">{{ partyFacility.facility?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/party-facility', partyFacility.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
