<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commEventPurpose">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.commEventPurpose.detail.title">Comm Event Purpose</span> {{ commEventPurpose.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.commEventPurpose.description">Description</span></dt>
                <dd>
                    <span>{{ commEventPurpose.description }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.commEventPurpose.communicationEvent">Communication Event</span></dt>
                <dd>
                    <div *ngIf="commEventPurpose.communicationEvent">
                        <a [routerLink]="['/comm-event', commEventPurpose.communicationEvent?.id, 'view']">{{ commEventPurpose.communicationEvent?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.commEventPurpose.purposeType">Purpose Type</span></dt>
                <dd>
                    <div *ngIf="commEventPurpose.purposeType">
                        <a [routerLink]="['/comm-evt-ppos-type', commEventPurpose.purposeType?.id, 'view']">{{ commEventPurpose.purposeType?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comm-event-purpose', commEventPurpose.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
