<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commEvent">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.commEvent.detail.title">Comm Event</span> {{ commEvent.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.commEvent.eventId">Event Id</span></dt>
                <dd>
                    <span>{{ commEvent.eventId }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.commEvent.started">Started</span></dt>
                <dd>
                    <span>{{ commEvent.started }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.commEvent.ended">Ended</span></dt>
                <dd>
                    <span>{{ commEvent.ended }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.commEvent.note">Note</span></dt>
                <dd>
                    <span>{{ commEvent.note }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.commEvent.contextOf">Context Of</span></dt>
                <dd>
                    <div *ngIf="commEvent.contextOf">
                        <a [routerLink]="['/party-relationship', commEvent.contextOf?.id, 'view']">{{ commEvent.contextOf?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.commEvent.occursVia">Occurs Via</span></dt>
                <dd>
                    <div *ngIf="commEvent.occursVia">
                        <a [routerLink]="['/contact-mech-type', commEvent.occursVia?.id, 'view']">{{ commEvent.occursVia?.id }}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.commEvent.casus">Casus</span></dt>
                <dd>
                    <div *ngIf="commEvent.casus">
                        <a [routerLink]="['/casus', commEvent.casus?.id, 'view']">{{ commEvent.casus?.id }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comm-event', commEvent.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
