<div>
    <h2 id="page-heading">
        <span jhiTranslate="jhipsterSampleApplicationApp.commEvent.home.title">Comm Events</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-comm-event" [routerLink]="['/comm-event/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="jhipsterSampleApplicationApp.commEvent.home.createLabel">
            Create a new Comm Event
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="commEvents?.length === 0">
        <span jhiTranslate="jhipsterSampleApplicationApp.commEvent.home.notFound">No commEvents found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="commEvents && commEvents.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span jhiTranslate="global.field.id">ID</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.commEvent.eventId">Event Id</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.commEvent.started">Started</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.commEvent.ended">Ended</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.commEvent.note">Note</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.commEvent.contextOf">Context Of</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.commEvent.occursVia">Occurs Via</span></th>
                    <th scope="col" ><span jhiTranslate="jhipsterSampleApplicationApp.commEvent.casus">Casus</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let commEvent of commEvents ;trackBy: trackId">
                    <td><a [routerLink]="['/comm-event', commEvent.id, 'view']">{{ commEvent.id }}</a></td>
                    <td>{{ commEvent.eventId }}</td>
                    <td>{{ commEvent.started | date:'medium' }}</td>
                    <td>{{ commEvent.ended | date:'medium' }}</td>
                    <td>{{ commEvent.note }}</td>
                    <td>
                        <div *ngIf="commEvent.contextOf">
                            <a [routerLink]="['/party-relationship', commEvent.contextOf?.id, 'view']" >{{ commEvent.contextOf?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="commEvent.occursVia">
                            <a [routerLink]="['/contact-mech-type', commEvent.occursVia?.id, 'view']" >{{ commEvent.occursVia?.id }}</a>
                        </div>
                    </td>
                    <td>
                        <div *ngIf="commEvent.casus">
                            <a [routerLink]="['/casus', commEvent.casus?.id, 'view']" >{{ commEvent.casus?.id }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/comm-event', commEvent.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/comm-event', commEvent.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(commEvent)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
