<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-party-classification-heading" jhiTranslate="jhipsterSampleApplicationApp.partyClassification.home.createOrEditLabel">Create or edit a Party Classification</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.partyClassification.fromDate" for="field_fromDate">From Date</label>
                    <div class="input-group">
                        <input id="field_fromDate" type="text" class="form-control" name="fromDate" ngbDatepicker #fromDateDp="ngbDatepicker" formControlName="fromDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="fromDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.partyClassification.thruDate" for="field_thruDate">Thru Date</label>
                    <div class="input-group">
                        <input id="field_thruDate" type="text" class="form-control" name="thruDate" ngbDatepicker #thruDateDp="ngbDatepicker" formControlName="thruDate"/>
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="thruDateDp.toggle()"><fa-icon icon="calendar-alt"></fa-icon></button>
                        </span>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.partyClassification.partyClassType" for="field_partyClassType">Party Class Type</label>
                    <select class="form-control" name="partyClassType" formControlName="partyClassType" id="field_partyClassType">
                        <option value="ORG_MINORITY">{{ 'jhipsterSampleApplicationApp.PartyClassType.ORG_MINORITY' | translate }}</option>
                        <option value="ORG_INDUSTRY">{{ 'jhipsterSampleApplicationApp.PartyClassType.ORG_INDUSTRY' | translate }}</option>
                        <option value="ORG_SIZE">{{ 'jhipsterSampleApplicationApp.PartyClassType.ORG_SIZE' | translate }}</option>
                        <option value="PERSON_EEOC">{{ 'jhipsterSampleApplicationApp.PartyClassType.PERSON_EEOC' | translate }}</option>
                        <option value="PERSON_INCOME">{{ 'jhipsterSampleApplicationApp.PartyClassType.PERSON_INCOME' | translate }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.partyClassification.party" for="field_party">Party</label>
                    <select class="form-control" id="field_party" name="party" formControlName="party">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="partyOption.id === editForm.get('party')!.value?.id ? editForm.get('party')!.value : partyOption" *ngFor="let partyOption of parties; trackBy: trackById">{{ partyOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
