<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-facility-role-heading" jhiTranslate="jhipsterSampleApplicationApp.facilityRole.home.createOrEditLabel">Create or edit a Facility Role</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.facilityRole.party" for="field_party">Party</label>
                    <select class="form-control" id="field_party" name="party" formControlName="party">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="partyOption.id === editForm.get('party')!.value?.id ? editForm.get('party')!.value : partyOption" *ngFor="let partyOption of parties; trackBy: trackById">{{ partyOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.facilityRole.facilityRoleType" for="field_facilityRoleType">Facility Role Type</label>
                    <select class="form-control" id="field_facilityRoleType" name="facilityRoleType" formControlName="facilityRoleType">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="facilityRoleTypeOption.id === editForm.get('facilityRoleType')!.value?.id ? editForm.get('facilityRoleType')!.value : facilityRoleTypeOption" *ngFor="let facilityRoleTypeOption of facilityroletypes; trackBy: trackById">{{ facilityRoleTypeOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="jhipsterSampleApplicationApp.facilityRole.facility" for="field_facility">Facility</label>
                    <select class="form-control" id="field_facility" name="facility" formControlName="facility">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="facilityOption.id === editForm.get('facility')!.value?.id ? editForm.get('facility')!.value : facilityOption" *ngFor="let facilityOption of facilities; trackBy: trackById">{{ facilityOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
