<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="commEvtPposType">
            <h2><span jhiTranslate="jhipsterSampleApplicationApp.commEvtPposType.detail.title">Comm Evt Ppos Type</span> {{ commEvtPposType.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.commEvtPposType.code">Code</span></dt>
                <dd>
                    <span>{{ commEvtPposType.code }}</span>
                </dd>
                <dt><span jhiTranslate="jhipsterSampleApplicationApp.commEvtPposType.description">Description</span></dt>
                <dd>
                    <span>{{ commEvtPposType.description }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/comm-evt-ppos-type', commEvtPposType.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
